<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafka Admin Client</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container">
    <div>
        <h1>Kafka Admin Client</h1>
        <form action="#" th:action="@{/create-topic}" method="post">
            <label for="topicName">Topic name:</label>
            <input type="text" id="topicName" name="topicName" th:value="${topicName}"/>

            <label for="partitionsNumber">Number of partitions:</label>
            <input type="number" id="partitionsNumber" name="partitionsNumber" th:value="${partitionsNumber}"/>

            <label for="replicasNumber">Number of replicas:</label>
            <input type="number" id="replicasNumber" name="replicasNumber" th:value="${replicasNumber}"/>

            <button type="submit">Create topic</button>
        </form>
        <p th:text="${successMessage}"></p>
    </div>
    <div>
        <h1>Kafka topics:</h1>
        <ul>
            <li th:each="topic : ${topics}">
                <p th:text="${topic}"></p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
